# Do not copy files these when dealing with Docker

# Dependencies
node_modules/
.venv/

# Audio files
data/

# Caches
.pytest_cache/
.mypy_cache/
.hypothesis/

# Tests
./tests
./cypress

# Development files
.git/
.vscode/
.idea/
.github/
.githooks/

# Databases
*.sqlite3
