[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.2,<6"
TextGrid = "*"
django-simple-history = "*"
docopt = "*"
jinja2 = "*"
logme = "*"
pydub = "*"
python-decouple = "*"
sh = "*"
typing-extensions = "*"
pympi-ling = "*"
requests = "*"
uwsgi = "*"
divvunspell = {git = "https://github.com/fbanados/divvunspell-sdk-python.git", ref = "main"}
tqdm = "*"
whitenoise = "*"
mutagen = "*"
hfst-optimized-lookup = "*"
pillow = "*"
scipy = "*"
urllib3 = "*"
filelock = "*"
idna = "*"

[dev-packages]
gunicorn = "*"
hypothesis = "*"
isort = "*"
model-bakery = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
pytest-mypy = "*"
django-stubs = "~=5.2"
django-extensions = "*"
django-debug-toolbar = "*"
black = "*"
types-requests = "*"
types-setuptools = "*"
python-decouple-stubs = "*"
pydub-stubs = "*"
types-tqdm = "*"

[requires]
python_version = "3.12"
