[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
TextGrid = "*"
django-simple-history = "*"
docopt = "*"
e1839a8 = {path = ".",editable = true}
jinja2 = "*"
logme = "*"
pydub = "*"
python-decouple = "*"
sh = "*"
django = ">=2.2,<3"
typing-extensions = "*"

[dev-packages]
black = "*"
gunicorn = "*"
hypothesis = "*"
isort = ">=5,<6"
model-bakery = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
django-stubs = "*"
django-extensions = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
