attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
mypy==0.560
pluggy==0.6.0
psutil==5.4.3
py==1.5.2
pycodestyle==2.3.1
pytest-selenium==1.11.4
pytest==3.4.1
requests==2.18.4
selenium==3.9.0
six==1.11.0
typed-ast==1.1.0
urllib3==1.22
