/**
* Style variables used for Maskwacîs
**/

:root {
    /* main color scheme */
    --custom-green: #668E3F;
    --custom-pale-green: #668E3F80;
    --light-green: #75AB69;
    --mauve: #472F35;
    --custom-purple: #524C53;
    --custom-orange: #D78278;
    --custom-pale-orange: #D7827880;
    --custom-white: #ffffff;
    --custom-grey: #cccccc;

    /* button styles */
    --button-radius: 0.25rem;
}