<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/static/images/speech.png">
  <link rel="stylesheet" href="{{ static('styles/main.css') }}" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      {{ csrf_input }}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
      <script type="application/javascript" src="{{ static('index.js') }}"></script>
      <script type="application/javascript" src="{{ static('menu.js') }}"></script>
      <script type="application/javascript" src="{{ static('nav.js') }}"></script>
      <title>{% block title %}
          {% if auth %}
              {{ language.name if language != None else "" }} Speech DB
          {% else %}
               Speech DB
          {% endif %}
      {% endblock title %}</title>
  {% endblock head %}

</head>
<body>

{% import 'validation/_menu.html' as menu %}

  {# The header #}
  <nav class="navbar navbar-expand-md navbar-dark header--dark">
    {% if language %}
        <a class="navbar-brand" href="{{ url('validation:entries', language.code) }}">
            {% if language != None %}
                <span lang="en" class="d-none d-sm-inline"> {{ language.name }} </span>
            {% endif %}
          Speech DB
        </a>
    {% else %}
        <a class="navbar-brand" href="{{ url('validation:home') }}">
            Speech DB
        </a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# The navbar #}
  {% if language %}
    <div class="navbar-collapse collapse justify-content-stretch" id="navbarSupportedContent">
      <form class="form-inline ml-2 my-2 my-lg-0" method="GET" action="{{
        url('validation:search_phrases', language.code)
      }}">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" data-cy="search-bar">
        <button class="my-2 my-sm-0 button button--success" type="submit">Search</button>
        &nbsp;
        <a data-cy="advanced-search-button" href="{{ url('validation:advanced_search', language.code) }}" class="button button--adv-search">Advanced Search</a>
    
      </form>
    </div>
      <details>
        <summary data-cy="options-button-header" class="menu__caret">Options</summary>
        {{ menu.menu_options(request, auth, is_linguist, showMacron, language) }}
      </details>
      {% else %}
      <div class="navbar-collapse collapse justify-content-stretch" id="navbarSupportedContent">

    </div>
      <details>
        <summary data-cy="options-button-header" class="menu__caret">Options</summary>
        {{ menu.menu_options(request, auth, is_linguist, showMacron, "") }}
      </details>
    {% endif %}


  </nav>


  <main class="main_container">
    {% block content %}
    <p class="error">
      If you're seeing this, something is wrong. Please contact
      <a href="mailto:easantos+recval@ualberta.ca"> the main developer </a>
      about it!
    </p>
    {% endblock content %}
  </main>

  {% block bodyscripts %}
  {% endblock bodyscripts %}
</body>
</html>
{# vim: set ft=htmldjango :#}
