{#
    # Displays search form to perform an advanced search
#}
   
{% extends 'validation/_base.html' %}
{% import 'validation/_macros.html' as macros %}

{% block content %}
<form method="GET" action="{{
    url('validation:advanced_search_results')
  }}">
    nêhiyawêwin phrase:
    <input class="form-control mr-sm-2" name="transcription" type="search" placeholder="Search" aria-label="Search"><br>
    English phrase:
    <input class="form-control mr-sm-2" name="translation" type="search" placeholder="Search" aria-label="Search"><br>
    Analysis:
    <input class="form-control mr-sm-2" name="analysis" type="search" placeholder="Search" aria-label="Search"><br>

    Status:
    <input type="radio" id="all" name="status" value="all" checked>
    <label for="all">All</label>  
    <input type="radio" id="new" name="status" value="new">
    <label for="new">New</label>
    <input type="radio" id="linked" name="status" value="linked">
    <label for="linked">Linked</label>
    {% if is_linguist %}
        <input type="radio" id="auto-val" name="status" value="auto-val">
        <label for="auto-val">Auto-validated</label> <br>
    {% else %}
        <br>
    {% endif %}


    Speaker:
    <input type="checkbox" id="all_speakers" name="speaker-options" value="all">
    <label for="all_spakers">All</label><br>
        {% for speaker in speakers %}
        <input type="checkbox" id="{{ speaker }}" name="speaker-options" value="{{ speaker }}">
        <label for="{{ speaker }}">{{ speaker }}</label><br>
        {% endfor %}

    <input type="hidden" name="speaker" id="speaker">

    <button data-cy="advanced-form-submit" class="btn button-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  {% endblock content %}