{% extends 'validation/_base.html' %}


{% block content %}
<div class="speakers--grid">
    <h2>{% if language.endonym %}{{ language.endonym }}{% endif %} Speakers in {{ language.name }}</h2>
    <div class="row">
        {% for speaker in speakers %}
        <div class="col-sm-4 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="{{ speaker.img_path }}" alt="Image of {{ speaker.full_name }}">
                <div class="card-body">
                    {% if speaker.full_name %}
                        <h5 class="card-title">{{ speaker.full_name }}</h5>
                    {% else %}
                        <h5 class="card-title">{{ speaker.code }}</h5>
                    {% endif %}
                {% if speaker.bio %}
                  <p class="card-text speaker-bio-preview">{{ speaker.bio | safe }}</p>
                {% endif %}
                <a href="{{ url('validation:speaker_view', language.code, speaker.code) }}" class="button button--success">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
