{% extends 'validation/_base.html' %}


{% block content %}
<div class="login">
<p class="login__title">Login to Validate Entries</p>
    <div class="login__form">
        <form action="" id="login__form" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form }}
            <div class="center">
                <input type="submit" value="Login" id="login-button" class="login__button">
            </div>
        </form>
        <div class="center">
            <a href="{{ url('validation:register') }}"><button id="register-button" class="register__button">Register</button></a>
        </div>
    </div>
</div>
{% endblock content %}
