{% extends 'validation/_base.html' %}


{% block content %}
<div class="login">
<h2>Login to Validate Entries</h2>
    <div class="login-form-wrapper">
        <form action="" id="login-form" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form }}
            <input type="submit" value="Login" id="login-button" class="login-button">
        </form>
        <a href="{{ url('validation:register') }}"><button id="register-button" class="register-button">Register</button></a>
    </div>
</div>
{% endblock content %}
