{% extends 'validation/_base.html' %}
{% import 'validation/_macros.html' as macros %}


{% block content %}
<div class="login">
<h2>Register as a New User</h2>
    <div class="login-form-wrapper">
        <form action="" method="GET">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form.username.errors }}
            {{ form }}
            <input type="submit" value="Register" class="login-button">
        </form>
    </div>
</div>
{% endblock content %}
