<script type="application/javascript">
    function showDivAccept(name, analysis) {
        document.getElementById('edit').style.display = "block";

        document.getElementById('id_source_language').value = name;
        document.getElementById('id_analysis').value = analysis;
    }

    function revert(transcription, analysis) {
        document.getElementById('edit').style.display = "block";

        document.getElementById('id_source_language').value = transcription;
        document.getElementById('id_analysis').value = analysis;
    }

    function goBack() {
        window.location = document.referrer;
    }


</script>

{% extends 'validation/_base.html' %}
{% import 'validation/_macros.html' as macros %}

{% block content %}
    <div class="table-responsive">

        <div>
            <button class="button button--success button--back" onclick="goBack()">Back</button>
        </div>
        {% if history|length > 0 %}
            <p>This entry was last edited by {{ history[0].modifier }} on
                {{ history[0].history_date.strftime('%Y-%m-%d') }}</p>
        {% endif %}

        <table id="segment-table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col"> Transcription</th>
                <th scope="col"> Translation</th>
                <th scope="col"> Analysis</th>
                <th scope="col"> Comments</th>
                <th scope="col"> Semantic Class</th>
                <th scope="col"> Recordings</th>
                <th scope="col">Speaker</th>
            </tr>
            </thead>
            <tr>
                {{ macros.td_transcription(user, phrase) }}
                {{ macros.td_translation(user, phrase) }}
                {{ macros.td_analysis(user, phrase) }}
                <td>{{ phrase.comment }}</td>
                <td>
                    <ul>
                        {% for classification in phrase.semantic_class.all() %}
                            <li class="list__recording"> {{ classification.classification }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="list__recording">
                        {% for recording in phrase.recordings %}
                            <li>
                                {{ macros.player(recording) }}
                            </li>

                        {% endfor %}{# for recording in phrase.recordings #}
                    </ul>
                </td>
                <td>
                    <ul class="table__td--speaker">
                        {% for recording in phrase.recordings %}
                            <li class="list__item--speaker-code">
                                {{ macros.speaker(recording) }}
                            </li>

                        {% endfor %}{# for recording in phrase.recordings #}
                    </ul>
                </td>
            </tr>
        </table>

        <div id="edit" data-cy="edit-div">
            {% include 'validation/segment_edit.html' %}
        </div>

        {% if language.code == "maskwacis" or language.code == "moswacihk" %}
            <table id="suggestions-table" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"> Suggestion</th>
                    <th scope="col"> MED</th>
                    <th scope="col"> Translation</th>
                    <th scope="col"> Analysis</th>
                    <th scope="col"> Source</th>
                    {% if auth %}
                        <th scope="col"> Options</th>
                    {% endif %}
                </tr>
                </thead>
                {% for suggestion in suggestions %}
                    <tr>
                        {{ macros.td_suggestion_transcription(user, suggestion, suggestions) }}
                        {{ macros.td_suggestion_med(user, suggestion, suggestions) }}
                        {% if suggestions[suggestion]['len'] > 1 %}
                            <td>Multiple Translations</td>
                            <td>Multiple Analyses</td>
                            <td></td>
                            <td></td>
                        {% else %}
                            {{ macros.td_suggestion_translation(user, suggestion, suggestions) }}
                            {{ macros.td_suggestion_analysis(user, suggestion, suggestions) }}
                            {{ macros.td_suggestion_source(user, suggestion, suggestions) }}
                            {% if auth %}
                                <td>
                                    {% if suggestions[suggestion]["matches"]|length > 0 %}
                                        {% set analysis = suggestions[suggestion]["matches"][0]["analysis"] %}
                                        <input type="button" class="button button--success" value="Accept"
                                               onclick="showDivAccept('{{ suggestion }}', '{{ analysis }}')"/>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% if suggestions[suggestion]['len'] > 1 %}
                        {% for match in suggestions[suggestion]['matches'] %}
                            <tr>
                                <td>{{ match['translation'] }}</td>
                                <td>{{ match['analysis'] }}</td>
                                <td>{{ match['source'] }}</td>
                                {% if auth %}
                                    <td>
                                        {% set analysis = match["analysis"] %}
                                        <input type="button" class="button button--success" value="Accept"
                                               onclick="showDivAccept('{{ suggestion }}', '{{ analysis }}')"/>
                                    </td>
                                    </tr>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}{# for suggestion in suggestions #}
            </table>
        {% endif %}
        <h4>Revision History:</h4>
        <table id="revision-table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col"> User</th>
                <th scope="col"> Date</th>
                <th scope="col"> Transcription</th>
                <th scope="col"> Translation</th>
                <th scope="col">Analysis</th>
                {% if auth %}
                    <th scope="col">Options</th>
                {% endif %}
            </tr>
            </thead>
            {% for revision in history %}
                <tr>
                    <td data-cy="revision-modifier">{{ revision.modifier }} </td>
                    <td data-cy="revision-date">{{ revision.date }} </td>
                    <td data-cy="revision-transcription">{{ revision.transcription }} </td>
                    <td data-cy="revision-translation">{{ revision.translation }} </td>
                    <td data-cy="revision-analysis">{{ revision.analysis }} </td>
                    {% if auth %}
                        <td>
                            <input type="button" class="button button--fail" value="Revert"
                                   onclick="revert('{{ revision.transcription }}', '{{ revision.analysis }}')"/>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}{# for revision in history #}
        </table>
    </div>
{% endblock content %}
