{% extends 'validation/_base.html' %}
{% import 'validation/_macros.html' as macros %}

{% block content %}
    <div class="header-large-center">
        <h2>{{ full_name }}</h2>
        <img src="{{ img_path }}" alt="Image of {{ full_name }}" width=320>
    </div>

    <div class="speaker-bio">
        {% if speaker.target_bio_audio %}
            <h3>Listen in English:</h3>
            <p>{{ macros.bio_player(speaker.target_bio_audio) }}</p>
        {% endif %}

        {% if speaker.target_bio_text %}
            {% if request.COOKIES['macron'] == 'off' %}
                <p>{{ speaker.target_bio_text | replace("ê", "e") }}</p>
            {% else %}
                <p>{{ speaker.target_bio_text }}</p>
            {% endif %}
        {% endif %}

        {% if speaker.source_bio_audio %}
            {% if request.COOKIES['macron'] == 'off' %}
                <h3>Listen in nêhiyawewin:</h3>
            {% else %}
                <h3>Listen in nehiyawêwin:</h3>
            {% endif %}
            <p>{{ macros.bio_player(speaker.source_bio_audio) }}</p>
            <p>({{ language }} translation coming soon)</p>
        {% endif %}
    </div>
{% endblock content %}
