{% extends 'validation/_base.html' %}
{% import 'validation/_macros.html' as macros %}

{% block content %}
    <div class="header-large-center">
        <h2>{{ full_name }}</h2>
        <img src="{{ img_path }}" alt="Image of {{ full_name }}" width=320>
    </div>

    <div class="speaker-bio">
        {% if speaker.source_bio_audio %}
            {% if request.COOKIES['macron'] == 'off' %}
                <h3>Listen in {{ language.endonym | replace("ê", "e") }}:</h3>
            {% else %}
                <h3>Listen in {{ language.endonym }}:</h3>
            {% endif %}
            <p>{{ macros.bio_player(speaker.source_bio_audio) }}</p>
        {% endif %}
        {% if speaker.source_bio_text %}
            <h3>Read in {{ language.endonym }}:<br></h3>
            {{ speaker.source_bio_text | safe}}
        {% else %}
            <p>({% if language.endonym %}{{ language.endonym }} {% endif %}translation coming soon)</p>
        {% endif %}
    
        {% if speaker.target_bio_audio %}
            <h3>Listen in English:</h3>
            <p>{{ macros.bio_player(speaker.target_bio_audio) }}</p>
        {% endif %}

        {% if speaker.target_bio_text %}
            <h3>Read in English:<br></h3>
            {% if request.COOKIES['macron'] == 'off' %}
                <p>{{ speaker.target_bio_text | replace("ê", "e") | safe}}</p>
            {% else %}
                <p>{{ speaker.target_bio_text | safe}}</p>
            {% endif %}
        {% endif %}


    </div>
{% endblock content %}
