{# Copyright © 2018 Eddie Antonio Santos. All rights reserved.  #}

{#
 # pagination() -- renders navigation links for a pagination object.
 #  e.g,. {1} [2] [3] ... [100]
 #
 # Adapted from: http://flask-sqlalchemy.pocoo.org/2.3/api/#flask_sqlalchemy.Pagination.iter_pages
 #}
{% macro pagination(pagination, endpoint) %}
<ul class="nav nav-pills justify-content-center">
{%- for page in pagination.iter_pages() %}
  {% if page %}
    {% if page != pagination.page %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link active" href="#">{{ page }}</a></li>
    {% endif %}
  {% else %}
      <li class="nav-item ellipsis">…</li>
  {% endif %}
{%- endfor %}
</ul>
{% endmacro %}

{#
 # An audio player for a recording.
 #}
{% macro player(recording) %}
<audio controls preload=none>
  <source src="{{ recording | audio_url }}" type="audio/aac"/>
</audio>
{% endmacro %}

{#
 # Expands to a <td> that displays the Cree transcription. Adds a link to edit when
 # a validator.
 #}
{% macro td_transcription(user, phrase) %}
<td lang="crk">
{% if 'validator' in user.roles %}
  <a href="{{ url_for('edit_phrase', phrase_id=phrase.id) }}">{{ phrase.transcription }}</a>
{% else %}
  {{ phrase.transcription }}
{% endif %}
</td>
{% endmacro %}

{#
 # Expands to a <td> that displays the English translation. Adds a link to edit when
 # a validator.
 #}
{% macro td_translation(user, phrase) %}
<td lang="en">
{% if 'validator' in user.roles %}
  <a href="{{ url_for('edit_phrase', phrase_id=phrase.id) }}">{{ phrase.translation }}</a>
{% else %}
  {{ phrase.translation }}
{% endif %}
</td>
{% endmacro %}

{# vim: set ft=htmldjango :#}
