{# Copyright © 2018 Eddie Antonio Santos. All rights reserved.  #}

{#
 # Displays a list of phrases.
 #}

{% extends '_base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
<form action="{{ url_for("update_text", phrase_id=phrase.id) }}">
  <label for="transcription">Transcription</label>
  <input name="transcription" value="{{ phrase.transcription}}"
         type="text" required minlength=1 spellcheck=false
         tabindex=1>
  <button type="submit" disable>Change</button>
  <button type="reset" disable>Revert</button>
</form>

<form action="{{ url_for("update_text", phrase_id=phrase.id) }}">
  <label for="translation">Translation</label>
  <input name="translation" value="{{ phrase.translation}}"
         type="text" required minlength="1" spellcheck
         tabindex=2>
  <button type="submit" disabled>Change</button>
  <button type="reset" disabled>Revert</button>
</form>

{% if phrase.type == 'word' %}
<form action="{{ url_for("update_text", phrase_id=phrase.id) }}">
  <input id="rb-dictionary" name="origin" value="maskwacîs" type="radio" tabindex=3>
  <label for="rb-dictionary">Maskwacîs Dictionary</label>

  <input id="rb-rapidwords" name="origin" value="rapid_words" type="radio">
  <label for="rb-dictionary">Rapid words</label>
</form>
{% endif %}

<aside class="recordings">
  <ul>
    {% for recording in phrase.recordings %}
    <li> {{ macros.player(recording) }}
      <form action="{{ url_for('update_recording', recording_id=recording.id) }}">
        <input id="rb-clean-{{ loop.index }}" name="quality" value="clean" type="radio">
        <label for="rb-clean-{{ loop.index }}">Clean</label>

        <input id="rb-unusable-{{ loop.index }}" name="quality" value="unusable" type="radio">
        <label for="rb-unusable-{{ loop.index }}">Unusable</label>
      </form>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endblock content %}

{# vim: set ft=htmldjango :#}
