{# Copyright © 2018 Eddie Antonio Santos. All rights reserved.  #}

{#
 # Displays a list of phrases.
 #}

{% extends '_base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
<div class="row">
  <div class="phrase-validation col">
    <form class="transcription" action="{{ url_for("update_text", phrase_id=phrase.id) }}">
      <div class="form-group">
        <label for="transcription">Transcription</label>
        <div class="input-group mb-3">
          <input id="transcription" name="transcription"
                 value="{{ phrase.transcription}}"
                 type="text" required minlength=1
                 spellcheck=false lang="crk"
                 autofocus tabindex=1
                 class="form-control form-control-lg">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Change</button>
            {# I think it'd be useful to have a "revert" button, but this is not
               the right design. #}
            {# <button class="btn btn-danger" type="reset">Revert</button> #}
          </div>
        </div>
      </div>
    </form>

    <form class="translation" action="{{ url_for("update_text", phrase_id=phrase.id) }}">
      <div class="form-group">
        <label for="translation">Translation</label>
        <div class="input-group mb-3">
          <input id="translation" name="translation"
                 value="{{ phrase.translation}}"
                 type="text" required minlength="1"
                 spellcheck lang="en"
                 tabindex=2
                 class="form-control form-control-lg">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Change</button>
          </div>
        </div>
      </div>
    </form>

    {% if phrase.type == 'word' %}
    <form class="origin" action="{{ url_for("update_text", phrase_id=phrase.id) }}">
      <fieldset class="form-group">
        <legend>Origin</legend>

        <div class="form-check form-check-inline">
          <input id="rb-dictionary" name="origin" value="maskwacîs" type="radio" tabindex=3
                 class="form-check-input" {% if phrase.origin.name == "maskwacîs" %}checked{% endif %}>
          <label for="rb-dictionary" class="form-check-label">Maskwacîs Dictionary</label>
        </div>

        <div class="form-check form-check-inline">
          <input id="rb-rapidwords" name="origin" value="rapid_words" type="radio"
                 class="form-check-input" {% if phrase.origin.name == "rapid_words" %}checked{% endif %}>
          <label for="rb-rapidwords" class="form-check-label">Rapid words</label>
        </div>
      </fieldset>
    </form>
    {% endif %}
  </div>{# .phrase-validation #}

  <aside class="recordings col-3">
    <legend> Recordings </legend>
    <ul class="list-group list-group-flush">
      {% for recording in phrase.recordings %}
      <li class="list-group-item">
        <span class="badge">{{ recording.speaker }} </span>
        {{ macros.player(recording) }}
        <form class="recording" action="{{ url_for('update_recording', recording_id=recording.id) }}">
          <div class="form-check form-check-inline">
            <input id="rb-clean-{{ loop.index }}" name="quality" value="clean" type="radio"
                   class="form-check-input"
                   {% if recording.quality.name == 'clean' %}checked{% endif %}>
            <label for="rb-clean-{{ loop.index }}" class="form-check-label">Clean</label>
          </div>

          <div class="form-check form-check-inline">
            <input id="rb-unusable-{{ loop.index }}" name="quality" value="unusable" type="radio"
                   class="form-check-input"
                   {% if recording.quality.name == 'unusable' %}checked{% endif %}>
            <label for="rb-unusable-{{ loop.index }}" class="form-check-label">Unusable</label>
          </div>
        </form>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>
{% endblock content %}

{% block bodyscripts %}
<script src="{{ url_for('static', filename='edit-phrase.js') }}"></script>
{% endblock bodyscripts %}

{# vim: set ft=htmldjango :#}
