<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Cree Recordings Validation </title>
</head>
<body>
  <h1> Cree Recordings Validation </h1>
  <table>
    <tr>
      <td> Transcription </td>
      <td> Translation </td>
      <td> Recordings </td>
    </tr>
    {% for phrase in phrases %}
    <tr>
      <td lang="crk">{{ phrase.transcription }}</td>
      <td lang="en">{{ phrase.translation }}</td>
      <td>
        <ul>
        {% for recording in phrase.recordings %}
          <li> <span class="speaker">{{ recording.speaker }}</span>
            
            <audio controls preload=none>
              <source src="{{ recording.aac_path | urlencode }}" type="audio/aac"/>
            </audio>
          </li>

        {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
{# vim: set ft=htmldjango :#}
