{# From http://flask-sqlalchemy.pocoo.org/2.3/api/#flask_sqlalchemy.Pagination.iter_pages #}
{% macro render_pagination(pagination, endpoint) %}
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Maskwacîs Recordings Validation </title>
</head>
<body>
  <h1> Maskwacîs Recordings Validation </h1>

  <table>
    <tr>
      <td> Transcription </td>
      <td> Translation </td>
      <td> Recordings </td>
    </tr>
    {% for phrase in page.items %}
    <tr>
      <td lang="crk">{{ phrase.transcription }}</td>
      <td lang="en">{{ phrase.translation }}</td>
      <td>
        <ul>
        {% for recording in phrase.recordings %}
          <li> <span class="speaker">{{ recording.speaker }}</span>

            <audio controls preload=none>
              <source src="{{ recording.aac_path | urlencode }}" type="audio/aac"/>
            </audio>
          </li>

        {% endfor %}{# for recording in phrase.recordings #}
        </ul>
      </td>
    </tr>
    {% endfor %}{# for phrase in page.phrases#}
  </table>

  <nav>
    Pages {{ render_pagination(page, 'list_phrases') }}
  </nav>

</body>
</html>
{# vim: set ft=htmldjango :#}
