{# Copyright © 2018 Eddie Antonio Santos. All rights reserved.  #}

{#
 # Displays a list of phrases.
 #}

{% extends '_base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> Transcription </th>
      <th scope="col"> Translation </th>
      <th scope="col"> Recordings </th>
    </tr>
  </thead>
  {% for phrase in page.items %}
  <tr data-update-uri="{{ url_for('update_text', phrase_id=phrase.id) }}">
    <td lang="crk">{{ phrase.transcription }}</td>
    <td lang="en">{{ phrase.translation }}</td>
    <td>
      <ul class="recordings">
      {% for recording in phrase.recordings %}
        <li>
          {% if recording.speaker %}
            <span class="speaker">{{ recording.speaker }}</span>
          {% else %}
            <span class="badge badge-warning speaker unknown-speaker">???</span>
          {% endif %}

          <audio controls preload=none>
            <source src="{{ recording | audio_url }}" type="audio/aac"/>
          </audio>
        </li>

      {% endfor %}{# for recording in phrase.recordings #}
      </ul>
    </td>
  </tr>
  {% endfor %}{# for phrase in page.phrases#}
</table>

<nav>
  {{ macros.pagination(page, 'list_phrases') }}
</nav>
{% endblock content %}

{% block bodyscripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock bodyscripts %}

{# vim: set ft=htmldjango :#}
