{# Copyright © 2018 Eddie Antonio Santos. All rights reserved.  #}

{#
 # Displays a list of phrases.
 #}

{% extends '_base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"> Transcription </th>
        <th scope="col"> Translation </th>
        <th scope="col"> Recordings </th>
      </tr>
    </thead>
    {% for phrase in page.items %}
    <tr data-update-uri="{{ url_for('update_text', phrase_id=phrase.id) }}">
      {{ macros.td_transcription(user, phrase) }}
      {{ macros.td_translation(user, phrase) }}
      <td>
        <ul class="recordings">
        {% for recording in phrase.recordings %}
          <li>
            {{ macros.player(recording) }}
          </li>

        {% endfor %}{# for recording in phrase.recordings #}
        </ul>
      </td>
    </tr>
    {% endfor %}{# for phrase in page.phrases#}
  </table>
</div>

<nav>
  {{ macros.pagination(page, 'list_phrases') }}
</nav>
{% endblock content %}

{# vim: set ft=htmldjango :#}
