{# Copyright © 2018 Eddie Antonio Santos. All rights reserved.  #}

{#
 # Displays search results for phrases.
 #}

{% extends '_base.html' %}
{% import '_macros.html' as macros %}


{% block content %}
<h2> Results for <q>{{ search_term }}</q> </h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"> Transcription </th>
        <th scope="col"> Translation </th>
        <th scope="col"> Recordings </th>
      </tr>
    </thead>
    {% for phrase in page.items %}
    <tr>
      {{ macros.td_transcription(user, phrase) }}
      {{ macros.td_translation(user, phrase) }}
      <td>
        <ul class="recordings">
        {% for recording in phrase.recordings %}
          <li>
            <audio controls preload=none>
              <source src="{{ recording | audio_url }}" type="audio/aac"/>
            </audio>
          </li>

        {% endfor %}{# for recording in phrase.recordings #}
        </ul>
      </td>
    </tr>
    {% endfor %}{# for phrase in page.phrases#}
  </table>
</div>

<nav>
  {{ macros.pagination(page, 'search_phrases') }}
</nav>
{% endblock content %}

{# vim: set ft=htmldjango :#}
