
/* button styles */
.button {
  border-radius: var(--button-radius);
  background-color: var(--custom-light-grey);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
.button--success {
  color: var(--custom-green);
  border: 2px solid var(--custom-green);
}

.button--success-solid {
  color: var(--custom-white);
  background-color: var(--custom-green);
  border: 2px solid var(--custom-green);
}

.button--success:hover, .button--success-solid:hover {
  color: var(--custom-white);
  background-color: var(--custom-pale-green);
  border-color: var(--custom-green);
  cursor: pointer;
}

.button--fail {
  color: var(--custom-orange);
  border: 2px solid var(--custom-orange);
}

.button--fail > a {
  color: var(--custom-orange);
}

.button--fail:hover > a, .button--fail > a:hover {
  color: var(--custom-white);
  text-decoration: none;
}

.button--fail-solid {
  color: var(--custom-white);
  background-color: var(--custom-orange);
  border: 2px solid var(--custom-orange);
}

.button--fail:hover, .button--fail-solid:hover {
  color: var(--custom-white);
  background-color: var(--custom-pale-orange);
  border-color: var(--custom-orange);
  cursor: pointer;
}

.button--neutral {
  color: var(--custom-purple);
  border: 2px solid var(--custom-purple);
}

.button--neutral-solid {
  background-color: var(--custom-purple);
  color: var(--custom-white)
}

.button--neutral:hover {
  color: var(--custom-white);
  border: 2px solid var(--custom-purple);
  background-color: var(--custom-pale-purple);
  cursor: pointer;
}

.button--neutral:hover > a {
  color: var(--custom-white);
}

.button--neutral > a {
  text-decoration: none;
  color: var(--custom-purple);
}

.button--neutral > a:hover {
  text-decoration: none;
  color: var(--custom-white);
}

.button--edit {
  margin: 0.5rem 10.5rem 0.5rem 0.5rem;
}

.button--back {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.button--flag {
  padding: 0.25rem;
  font-size: 12pt;
  margin: 0.5rem;
}

.button--more-options {
  font-size: 12pt;
  margin-top: 2rem;
  margin-right: 0.5rem;
}

.button--right {
  position: absolute;
  right: 0;
  margin-bottom: 0.5rem;
}

.button--adv-search {
  background-color: transparent;
  color: var(--custom-beige);
  border: 2px solid var(--custom-beige);
}

.button--adv-search:hover {
  text-decoration: none;
  color: var(--custom-purple);
  background-color: var(--custom-beige);
}

.button--small {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.1rem 0.2rem;
}

.button--none {
  border: none;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button--right-issue {
  display: inline-flex;
  justify-content: end;
}
