
/* the options menu in the top right corner */
.menu__caret {
  color: var(--custom-beige);
  margin: 1rem;

}

.menu__caret:hover {
  cursor: pointer;
}

.menu__options {
  background-color: var(--custom-beige);
  z-index: 1;
  padding: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-width: 15rem;
  margin: 1rem;
  position: absolute;
  right: 0;
}

.menu__options--list {
  list-style: none;
}

.menu__options--right {
  text-align: right;
}

.menu__options-link, .menu__options-link:hover {
  color: var(--custom-purple);
}

.menu__none {
  display: none;
}

.menu__block {
  display: block;
}
